<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-o-Pedia | Realtime Chatting App</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script src="/script.js" defer></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div class="max-width">
            <h1>Chat-o-Pedia</h1>
            <img src="/chat.png" alt="" class="logo">
        </div>
    </nav>
    <div class="container">
        <div class="center">You can try this app by opening this in another tab and text to yourself...</div>
    </div>
    <div class="max-width send">
        <form action="#" id="sendContainer">
            <input type="text" name="messageInp" id="messageInp" autocomplete="off" required autofocus>
            <button class="btn" type="submit">Send</button>
        </form>
    </div>
    <footer>
        <p>&copy; Designed By: Devansh Dubey</p>
    </footer>
</body>

</html>